@import 'setup';

html {
    font-size: 62.5%;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: white;
}
.wrapper {
    max-width: 1080px;
    margin: 0 auto;
    width:90%;
}

img {
    width: 100%;
}

ul,
li,
a,
p,
h1,
h2,
h3,
button {
    margin: 0;
    padding: 0;
}

button {
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 180px;
    height: 100px;
    background: #232121;
    color: white;
    font-weight: 600;
    box-shadow: 0 9px #999;
    &:active {
        background-color: #3e8e41;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }

}

.digital {
    font-family: 'Orbitron';
    font-size: 3rem;
    color: rgb(238, 225, 149);
}
// header
header {
    height: 400px;
    // background: #2F2C2C;
    background-image: linear-gradient(rgba(0, 0, 0, 0.363), rgba(131, 131, 131, 0.26)), url(../images/header.png);
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
        text-align: center;
    }
}
// main
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #343131;
    .page-container {
        display: flex;
        justify-content: space-between;
        padding: 75px 0 50px;
        .image-container {
            width: 30%;
            display: flex;
        }
    }
}
.pay-table-container {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.pay-table-image {
    position: absolute;
    top: 110px;
    left: 60px;
    // opacity: 0.9;
    width: 90%;
}

.buttons-container {
    padding: 50px 0 ;
    display: flex;
    justify-content: center;
    button {
        width: 100%;
    }
    .btn-stop,
    .btn-play {
    border: 5px solid red;
    border-radius: 10px;
    }
}
.score-container {
    padding: 25px 0 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
        
        width: 200px;
        p {
            width: 100%;
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    .btn-credits {
        border: 5px solid lightgray;
        border-radius: 10px;
    }
    .btn-round,
    .btn-paid {
        border: 5px solid rgb(2, 189, 96);
        border-radius: 10px;
    }
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;

}
// footer
footer {
    width: 100%;
    height: 75px;
    background: linear-gradient(rgba(0, 0, 0, 0.876), rgba(19, 18, 18, 0.863));
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}












