// palette

// "Jet":"2b2a27",
// "Dim Gray":"68685f",
// "Red Crayola":"ff0a47",
// "Laser Lemon":"fdff70",
// "Cultured":"f7f7f7"


$black: #2b2a27;
$grey: #68685f;
$red: #ff0a47;
$pink: #fc208e;
$white: #f7f7f7;

@import "setup";

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  color: $white;
}

.wrapper {
  max-width: 1080px;
  margin: 0 auto;
  width: 90%;
}

img {
  width: 100%;
}

ul,
li,
a,
p,
h1,
h2,
h3,
button {
  margin: 0;
  padding: 0;
}

button {
  border: 5px solid $red;
  font-family: Arial, Helvetica, sans-serif;
  width: 180px;
  height: 100px;
  background: $black;
  color: $white;
  font-weight: 600;
  box-shadow: 0 3px $grey;
  margin: 30px 0;

  &:active {
    border: 5px solid $pink;
    background-color: $grey;
    box-shadow: 0 5px $black;
    transform: translateY(4px);
  }
}

header {
  height: 20vh;
  min-height: 170px;
  background: $black;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
    div {
      display: flex;
      justify-content: center;
      h1 {
        text-align: center;
        font-family: "Orbitron";
        font-size: 3rem;
        padding-top: 50px;
        width: 380px;
        span {
          color: $red;
          font-size: 5rem;
        }
      }
    }
}

main {
  // height: 80vh;
  // min-height: 610px;
  background: $grey;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;


  .pay-table-container {
    // position: relative;
    display: flex;
    flex-wrap: wrap;;
    justify-content: space-between;
    // overflow: initial;

    .pay-table-image {
      // position: absolute;
      // top: 200px;
      // left: 0;
      width: 100%;
      margin-bottom: 50px;
    }
  }

  .page-container {
    display: flex;
    justify-content: space-between;

    .image-container {
      width: 33%;
      display: flex;
    }
  }

  .buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      width: 100%;
    }

    .btn-stop,
    .btn-play {
      border: 5px solid $red;
      border-radius: 10px;
      font-family: "Orbitron";
      letter-spacing: 5px;
    }
  }

  .welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      margin: 60px 0;
    }

    .btn-addCredits {
      width: 100%;
    }
  }

  .score-container {
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      width: 300px;
      height: 125px;

      p {
        width: 100%;
        height: 125px;
        line-height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }

    .btn-credits,
    .btn-round,
    .btn-paid {
      background-color: #dadad4;
      color: $black;
      border: 5px solid $black;
      border-radius: 10px;
      font-weight: bold;

      .digital {
        font-family: "Orbitron";
        font-weight: bolder;
        font-size: 4rem;
        color: $red;
        text-shadow: -1px 0 $white, 0 1px $white, 1px 0 $white, 0 -1px $white;

      }
    }
  }
}

footer {
  width: 100%;
  height: 5vh;
  min-height: 100px;
  background: $black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
